# Copyright (c) Datalayer, Inc https://datalayer.io
# Distributed under the terms of the MIT License.

# Check with git check-ignore -v **/*

# Exclude

**/__tmp/*
**/_book/*
**/_state/*
**/_secret/*
**/_secrets/*
**/_tmp/*
**/_ui/*
**/_vendor*/*
**/.*
**/*.bin
**/*.bundle.*
**/*.bz2
**/*.crt
**/*.dat
**/*.egg
**/*.egg-info
**/*.epub
**/*.gz
**/*.iml
**/*.jar
**/*.key
**/*.lock
**/*.log
**/*.log*
**/*.mobi
**/*.model
**/*.pem
**/*.pdf
**/*.pid
**/*.pyc
**/*.scss.ts
**/*.so
**/*.sqlite
**/*.tar
**/*.tar.gz
**/*.tgz
**/*.whl
**/*.zip
**/__pycache__
**/__snapshots__
**/_gen
**/_private
**/bin
**/bower_components
**/build
**/coverage
**/develop-eggs
**/dist
**/eggs
**/externals
**/gen
**/gin-bin
**/files.txt
**/index-dist.html
**/jupyterhub_cookie_secret
**/key
**/lib
**/lib64
**/node_modules
**/nohup.out
**/output
**/package-lock.json
**/private
**/repos/*/
**/parts
**/sdist
**/secret
**/secrets
**/shrinkwrap.yaml
**/storybook-static
**/target
**/temp
**/tmp
**/tmpcharts
**/tsconfig.tsbuildinfo
**/nosetests.xml
**/pip-log.txt
**/yarn-metadata.json
**/yarn.lock
**/kuber/kuber
lab/styleguidist/styleguide/
docs/blog/public
opt/**/*
repos/**/*
src/dsp/widgets
var/**/*
var/srv/certs/*
var/srv/jupyterhub/*
github_issue_summarization/build/
**/github_issue_summarization/hp-tune/vendor
# Exclude Terraform
**/aws_credentials.tf
**/rds_credentials.tf
**/*.tfstate
**/*.tfstate.backup
**/terraform.tfstate*
**/aws.pem*
**/terraform.tfvars
**/*.tfstate*
# Excluse VIM
**/[._]*.s[a-v][a-z]
**/[._]*.sw[a-p]
**/[._]s[a-rt-v][a-z]
**/[._]ss[a-gi-z]
**/[._]sw[a-p]

# Include

!**/.*ignore
!**/.*rc
!**/.*rc.js
!**/.*config
!**/.datalayer
!**/.github
!**/.storybook
!**/.vscode
!.gitattributes
!.readthedocs.yml
!bin
!dist/README.md
!opt/README.md
!repos/README.md
!sbin/build
!sbin/clean
!sbin/install
!sbin/start
!sbin/start-80
!srv/**/README.md
!var/**/README.md

# Re-Exclude (if needed)
**/_book/*
**/_book/.*
