# Copyright (c) Datalayer https://datalayer.io
# Distributed under the terms of the Apache License, Version 2.0
# https://www.apache.org/licenses/LICENSE-2.0.txt

# Check with git check-ignore -v **/*

# Exclude.
**/__tmp/*
**/_book/*
**/_state/*
**/_secret/*
**/_secrets/*
**/_tmp/*
**/_ui/*
**/_vendor*/*
**/.*
**/*.bundle.*
**/*.bin
**/*.bz2
**/*.crt
**/*.dat
**/*.egg
**/*.egg-info
**/*.epub
**/*.gz
**/*.iml
**/*.jar
**/*.key
**/*.lock
**/*.log
**/*.log*
**/*.mobi
**/*.model
**/*.pdf
**/*.pid
**/*.pyc
**/*.scss.ts
**/*.so
**/*.sqlite
**/*.tgz
**/*.zip
**/__pycache__
**/__snapshots__
**/_gen
**/_private
**/bin/*
**/bower_components/*
**/build/*
**/coverage/*
**/develop-eggs/*
**/dist/*
**/eggs
**/gen
**/gin-bin
**/files.txt
**/jupyterhub_cookie_secret
**/key
**/lib
**/lib64
**/node_modules
**/output/*
**/package-lock.json
**/private
**/private.pem
**/repos/*/
**/parts/*
**/sdist/*
**/secret/*
**/secrets/*
**/shrinkwrap.yaml
**/target/*
**/temp/*
**/tmp/*
**/nosetests.xml
**/pip-log.txt
**/yarn-metadata.json
**/yarn.lock
**/kuber/kuber
lab/styleguidist/styleguide/
docs/blog/public
opt/*/
opt/spark*
var/*/*
var/srv/certs/*
var/srv/jupyterhub/*
github_issue_summarization/build/

**/github_issue_summarization/hp-tune/vendor

# Terraform.
**/aws_credentials.tf
**/rds_credentials.tf
**/*.tfstate
**/*.tfstate.backup
**/terraform.tfstate*
**/aws.pem*
**/terraform.tfstate
**/terraform.tfvars
**/*.tfstate*
**/examples/asg-service-dynamic/bin

# Vim.
**/[._]*.s[a-v][a-z]
**/[._]*.sw[a-p]
**/[._]s[a-rt-v][a-z]
**/[._]ss[a-gi-z]
**/[._]sw[a-p]

# Include.
!**/.*ignore
!**/.*rc
!**/.*rc.js
!**/.*config
!**/.github
!**/.storybook
!.env
!.gitattributes
!.vscode
!lab/medias/output/README.md
!bin/dla
!bin/dctl
!bin/jctl
!dist/README.md
!opt/README.md
!repos/README.md
!sbin/build
!sbin/clean
!sbin/install
!sbin/start
!sbin/start-80
!srv/**/README.md
!var/**/README.md

# Re-Exclude if needed...
**/_book/*
**/_book/.*
