.dla-footer {
//  background-color: #333333;
//  background-color: #f4f4f4;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #a6a6a6;
}
.dla-footer a {
  color: white;
}
.dla-footer-container {
//  color: white;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}
.dla-footer-div {
//  font-weight: bold;
  padding-bottom: 10px;
}
