# Copyright (c) Datalayer https://datalayer.io
# Distributed under the terms of the Apache License, Version 2.0
# https://www.apache.org/licenses/LICENSE-2.0.txt

# Place this file at /etc/systemd/system/kubeadm-join.service
# Run sudo systemctl daemon-reload
# Run sudo systemctl enable kubeadm-join.service

[Unit]
After=network.target

[Service]
ExecStart=/usr/local/bin/kubeadm-join

[Install]
WantedBy=default.target
