# Copyright (c) Datalayer https://datalayer.io.
# Distributed under the terms of the Apache License, Version 2.0.

version: ${DLAVERSION}
project:
- url: https://datalayer.io/eric/example
lab:
- extensions:
  url: https://github.com/jupyterlab/jupyterlab-toc
datasets:
- dataset:
  name: titanic
  url: https://datalayer.io/datalayer/dataset/titanic.csv
  loader:
  - format: csv
  - separator: ','
  - size: S
- dataset: 
  name: iris
  url: quilt:evanvin/vision_dot_2018
  loader:
  - format: csv
  - separator: ';'
  - size: XL
- cluster:
  size: L
- conda-env:
  channels:
    - conda-forge
  dependencies:
    - awscli=1.16.96
    - py4j=0.10.7
    - pyspark=2.3.1
    - pip:
      - boto3==1.9.52
