# Copyright (c) Datalayer, Inc https://datalayer.io
# Distributed under the terms of the MIT License.

clientPort=2181
dataDir=/opt/datalayer/var/zookeeper
tickTime=2000
4lw.commands.whitelist=stat, ruok, conf, isro, mntr, dump
