{
  "parser": "babel-eslint",
//  "plugins": ["react", "prettier", "jsx-a11y", "import"],
  "plugins": [],
//  "extends": ["xo", "xo-react", "react-app", "prettier", "prettier/react"],
  "extends": [],
  "globals": {
    "expect": true,
    "describe": true,
    "it": true,
    "fixture": true,
    "test": true,
    "jest": true,
    "document": true,
    "window": true,
    "fetch": true,
    "navigator": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "quotes": 0,
    "operator-linebreak": 0,
    "react/jsx-tag-spacing": [
      "off",
      {
        "beforeSelfClosing": "always"
      }
    ],
    "no-unused-variable": false,
    "interface-over-type-literal": false,
    "object-literal-shorthand": false,
    "object-literal-sort-keys": false,
    "ordered-imports": false,
    "member-access": false,
    "variable-name": false,
    "no-string-literal": false,
    "no-console": 0,
    "prefer-const": 0,
    "triple-equals": false,
    "jsx-self-close": false,
    "interface-name": false,
    "no-empty": 0,
    "member": false,
    "only-arrow-functions": false,
    "curly": 0,
    "no-namespace": false,
    "jsx-boolean-value": false,
    "one-variable-per-declaration": false,
    "comment-format": false,
    "no-shadowed-variable": false,
    "max-classes-per-file": 0,
    "no-string-throw": false,
    "jsx-no-lambda": false,
    "jsx-no-bind": false,
    "radix": 0,
    "prefer-for-of": false,
    "array-type": false,
    "arrow-return-shorthand": false,
    "capitalized-comments": 0,
    "react/no-unescaped-entities": 0,
    "max-statements-per-line": 0,
    "padding-line-between-statements": 0
  }
}
